<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li *ngFor="let ln of linkss" class="{{ln.class}}">
                <a routerLink="{{ln.url}}" (click)="toggleLink(ln)">
                    <i class="{{ln.iconc}}"></i> 
                    {{ln.text}}
                    <span *ngIf="ln.type === 'static'" class="fa arrow"></span>
                    <ul class="nav nav-second-level collapse {{ln.class === 'active' ? 'in' : ''}}" *ngIf="ln.type === 'static'">
                        <li *ngFor="let sln of ln.sub">
                            <a routerLink="{{sln.url}}">{{sln.text}}</a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>